{% extends "layout.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Change password
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <form method="post" action="/change-password-new">
      <fieldset>
        <legend class="vh">Enter your current password</legend>
        <div class="form-group">
          <label for="new-password" class="form-label">Create a secure password - <a href="#modal-password" class="modal-link">what is this?</a> </label>
          <div class="show-password">
            <input class="form-control" id="new-password" name="new-password" type="password" required="required">
          </div>
        </div>
        <div class="form-submit">
          <button type="submit" class="button">Continue</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

<div class="service-list">
  <div class="modal" id="modal-password" style="display: none;">
    <a href="#" class="close">Close</a>
    <h3 class="heading-large">Secure passwords</h3>
    <h4 class="heading-medium">A secure password is:</h4>
    <ul class="list-bullet">
      <li><b>Long</b> - the more characters the better, all DfE Sign-in passwords must be at least 12 characters long. Short passwords are simple to crack with modern equipment.</li>
      <li><b>Memorable</b> - writing down or storing passwords unencrypted on your computer is not secure, it is better to make then easy to remember, or use a password manager.</li>
      <li><b>Unique</b> - keeping passwords for each service unique means that if another service is compriomised you don't have to go about changing all your passwords at once.</li>
    </ul>
    <h4 class="heading-medium">Examples of strong passwords:</h4>
    <ul class="list-bullet">
      <li>clearglasswindow</li>
      <li>ten-times-twelve-is-120</li>
      <li>bigPaperHat</li>
    </ul>
  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/wireframes/javascript/zxcvbn.js"></script>
<script>

  $.fn.delayKeyup = function (callback, ms) {
    var timer = 0;
    var el = $(this);

    $(this).keyup(function () {
      clearTimeout(timer);
      timer = setTimeout(function () {
        callback(el)
      }, ms);
    });
    return $(this);
  };

  $(function () {

    var pwdField = $('#new-password'),
      pwdStr = $('<p />').attr('class', 'password-strength'),
      pwdSpn = $('<span />').attr({ 'id': 'pwd-score', 'aria-live': 'polite' }).appendTo(pwdStr);


    pwdField.after(pwdStr).delayKeyup(function (el) {

      var pwd = el.val();

      if (pwd.length > 0) {

        var pwdTest = zxcvbn(pwd),
          helperText = '';

        console.log(pwdTest);

        $('#password').text(pwdTest.password);
        $('#score').text(pwdTest.score);
        $('#warning').text(pwdTest.feedback.warning);

        if (pwdTest.score === 0) {
          helperText = 'Very weak';
        }
        if (pwdTest.score === 1) {
          helperText = 'Weak';
        }
        if (pwdTest.score === 2) {
          helperText = 'Good';
        }
        if (pwdTest.score === 3) {
          helperText = 'Strong';
        }
        if (pwdTest.score === 4) {
          helperText = 'Very strong';
        }

        //$('#pwd-score').text(helperText).parent().attr('class', 'score score-' + pwdTest.score);

        if (pwd.length < 12) {
          $('#pwd-score').html('<span class="icon icon-error"></span> Your password needs to be at least 12 characters');
        } else {
          if (pwdTest.score < 3) {
            $('#pwd-score').html('<span class="icon icon-warning"></span> ' + pwdTest.feedback.warning);
          } else {
            $('#pwd-score').html('<span class="icon icon-success"></span> Good password');
          }
        }

      } else {
        //$('#pwd-score').empty().parent().attr('class', 'password-strength');
      }

    }, 500);
  });

</script>

{% endblock %}


{% block styles %}

<style>

  .icon {
    background: url("/static/wireframes/images/icons.png");
  }

  .icon-error {
    background-position: bottom;
  }

  .icon-warning {
    background-position: center;
  }

  #pwd-score {
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    display: block;
  }

  #pwd-score span {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  .tooltip {
    background: #eee;
    padding: 15px;
    border-bottom: 5px solid #005ea5;
    margin-bottom: 10px;
    position: relative;
  }

  .tooltip ul {
    margin-bottom: 0;
  }

  .tooltip:before {
    display: block;
    border: 15px solid transparent;
    border-top-color: #005ea5;
    position: absolute;
    top:100%;
    content: "";
  }

</style>

{% endblock %}
