{% extends "layout.html" %}


{% block content %}
<div class="grid-row">
  <div class="column-two-thirds">
    <h1 class="heading-xlarge">
      Change password
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <form method="post" action="/change-password-new">
      <fieldset>
        <legend class="vh">Enter your current password</legend>
        <div class="form-group">
          <label for="new-password" class="form-label-bold">Create new password</label>
          <div class="tooltip">
            <h2>Try these suggestions for a more secure password</h2>
            <ul class="list list-bullet">
              <li>Use 3 or more random words e.g. yellowLaptopPaper</li>
              <li>The longer the better, easy to remember, hard to guess</li>
            </ul>
          </div>
          <div class="show-password">
          <input class="form-control" id="new-password" name="new-password" type="password" required="required"></div>
        </div>
        <div class="form-group">
          <label class="form-label-bold" for="confirm-password">Confirm your new password</label>
          <input class="form-control" id="confirm-password" name="confirm-password" type="password" required="required">
        </div>
        <div class="form-submit">
          <button type="submit" class="button">Continue</button>
        </div>
      </fieldset>
    </form>
  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/wireframes/javascript/zxcvbn.js"></script>
<script>

  $.fn.delayKeyup = function (callback, ms) {
    var timer = 0;
    var el = $(this);

    $(this).keyup(function () {
      clearTimeout(timer);
      timer = setTimeout(function () {
        callback(el)
      }, ms);
    });
    return $(this);
  };

  $(function () {

    var pwdField = $('#new-password'),
      pwdStr = $('<p />').html('Password strength: ').attr('class', 'password-strength'),
      pwdSpn = $('<span />').attr({ 'id': 'pwd-score', 'aria-live': 'polite' }).appendTo(pwdStr);


    pwdField.after(pwdStr).delayKeyup(function (el) {

      var pwd = el.val();

      if (pwd.length > 0) {

        var pwdTest = zxcvbn(pwd),
          helperText = '';

        console.log(pwdTest);

        if (pwdTest.score === 0) {
          helperText = 'Very weak';
        }
        if (pwdTest.score === 1) {
          helperText = 'Weak';
        }
        if (pwdTest.score === 2) {
          helperText = 'Good';
        }
        if (pwdTest.score === 3) {
          helperText = 'Strong';
        }
        if (pwdTest.score === 4) {
          helperText = 'Very strong';
        }

        $('#pwd-score').text(helperText).parent().attr('class', 'score score-' + pwdTest.score);

      } else {
        $('#pwd-score').empty().parent().attr('class', 'password-strength');
      }

    }, 500);
  });

</script>

{% endblock %}


{% block styles %}

<style>

  .tooltip {
    background: #eee;
    padding: 15px;
    border-bottom: 5px solid #005ea5;
    margin-bottom: 10px;
    position: relative;
  }

  .tooltip ul {
    margin-bottom: 0;
  }

  .tooltip:before {
    display: block;
    border: 15px solid transparent;
    border-top-color: #005ea5;
    position: absolute;
    top:100%;
    content: "";
  }

</style>

{% endblock %}
