.card {
  padding: 15px;
  border-right: none;
  border-left: 5px solid $department-for-education-websafe;
  h2 {
    font-weight: bold;
    font-size: 110%;
  }
  p {
    margin-bottom: 3px;
  }
}

a.card {
  display: block;
  text-decoration: none;
  color: $text-colour;
  background: #eee;
  @include simple-animation;
  &:hover {
    border-left-width: 10px;
    padding-left: 10px;
    background: #f5f5f5;
  }
}

.manage-card, .manage-card-disabled {
  padding: 15px;
  border-right: none;
  border-left: 5px solid $department-for-education-websafe;
  h2 {
    font-weight: bold;
    font-size: 110%;
    position: relative;
    color: #005ea5;
    margin-top: 5px;
  }
  p {
    margin-bottom: 3px;
    position: relative;
  }
}

div.manage-card {
  display: block;
  text-decoration: none;
  color: $text-colour;
  background: #F8F8F8;
  @include simple-animation;
  &:hover {
    border-left-width: 10px;
    padding-left: 10px;
    background: #f5f5f5;
  }
}

div.manage-card-disabled {
  display: block;
  text-decoration: none;
  color: $text-colour;
  background: #F8F8F8;

  h2 {
    color: $text-colour;
  }
}

nav.subnav {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}

.spinner {

  $circleCount: 12;
  $animationDuration: 1.2s;

  margin: 50px 0;
  width: 50px;
  height: 50px;
  position: relative;

  .spinner-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }

  .spinner-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: $black;
    border-radius: 100%;
    animation: spinner-circleBounceDelay $animationDuration infinite ease-in-out both;
  }

  @for $i from 2 through $circleCount {
    .spinner-circle#{$i} { transform: rotate(360deg / $circleCount * ($i - 1)); }
  }

  @for $i from 2 through $circleCount {
    .spinner-circle#{$i}:before { animation-delay: - $animationDuration + $animationDuration / $circleCount * ($i - 1); }
  }
}

@keyframes spinner-circleBounceDelay {
  0%, 80%, 100% { transform: scale(0) }
  40% { transform: scale(1.0) }
}


.spinner-inline {

  $animationDuration: 1s;
  $delayRange: 0.25s;
  $spinner-margin: 30px;
  $size: 26px;

  text-align: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 2.2em;
  background: $green;

  .ball {
    width: $size / 2;
    height: $size / 2;
    background-color: #fff;
    border-radius: 100%;
    display: inline-block;
    animation: spinnerInlineBalls $animationDuration ease-in-out 0s infinite both;
  }

  .b-1 { animation-delay: -$delayRange; }
  .b-2 { animation-delay: -$delayRange / 2; }

  &.vh {
    position: absolute;
    height: 1px;
  }

}

@keyframes spinnerInlineBalls {
  0%, 80%, 100% {
    transform: scale(.5);
    opacity: 0;
  }
  40% {
    transform: scale(.7);
    opacity: 1;
  }
}

ul.dashed > li:before {
  content: '\2014';
  margin-left: -25px;
  padding-right: 5px;
}

li.list-item {
  padding-top: 7.5px;
  margin-left: 25px;
  padding-right: 25px;
}

p.contents-header {
  margin-bottom: 2px;
}

.environment-banner {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #0b0c0c;
  background-color: #FFA500;

  > div {
    margin: 0 auto;
    max-width: 960px;
  }
}

.icon-important {
  width: 35px;
  height: 35px;
  background-image: url("../images/icon-important.png");
  @include device-pixel-ratio {
    background-image: url("../images/icon-important-2x.png");
    background-size: 27px 27px;
  }
}
