.card {
  padding: 15px;
  border-right: none;
  border-left: 5px solid $department-for-education-websafe;
  h2 {
    font-weight: bold;
    font-size: 110%;
  }
  p {
    margin-bottom: 3px;
  }
}

a.card {
  display: block;
  text-decoration: none;
  color: $text-colour;
  background: #eee;
  @include simple-animation;
  &:hover {
    border-left-width: 10px;
    padding-left: 10px;
    background: #f5f5f5;
  }
}

nav.subnav {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}

.spinner {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: relative;
}
.spinner-circle .spinner-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.spinner-circle .spinner-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: $black;
  border-radius: 100%;
  -webkit-animation: spinner-circleBounceDelay 1.2s infinite ease-in-out both;
  animation: spinner-circleBounceDelay 1.2s infinite ease-in-out both;
}
.spinner-circle .spinner-circle2 {
  -webkit-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  transform: rotate(30deg); }
.spinner-circle .spinner-circle3 {
  -webkit-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  transform: rotate(60deg); }
.spinner-circle .spinner-circle4 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg); }
.spinner-circle .spinner-circle5 {
  -webkit-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  transform: rotate(120deg); }
.spinner-circle .spinner-circle6 {
  -webkit-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  transform: rotate(150deg); }
.spinner-circle .spinner-circle7 {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg); }
.spinner-circle .spinner-circle8 {
  -webkit-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  transform: rotate(210deg); }
.spinner-circle .spinner-circle9 {
  -webkit-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  transform: rotate(240deg); }
.spinner-circle .spinner-circle10 {
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg); }
.spinner-circle .spinner-circle11 {
  -webkit-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  transform: rotate(300deg); }
.spinner-circle .spinner-circle12 {
  -webkit-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  transform: rotate(330deg); }
.spinner-circle .spinner-circle2:before {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }
.spinner-circle .spinner-circle3:before {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }
.spinner-circle .spinner-circle4:before {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }
.spinner-circle .spinner-circle5:before {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }
.spinner-circle .spinner-circle6:before {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }
.spinner-circle .spinner-circle7:before {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }
.spinner-circle .spinner-circle8:before {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }
.spinner-circle .spinner-circle9:before {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }
.spinner-circle .spinner-circle10:before {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }
.spinner-circle .spinner-circle11:before {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }
.spinner-circle .spinner-circle12:before {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

@-webkit-keyframes spinner-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}

@keyframes spinner-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
      -webkit-transform: scale(1);
      transform: scale(1);
    }
}
