.card {
  padding: 15px;
  border-right: none;
  border-left: 5px solid $department-for-education-websafe;
  h2 {
    font-weight: bold;
    font-size: 110%;
  }
  p {
    margin-bottom: 3px;
  }
}

a.card {
  display: block;
  text-decoration: none;
  color: $text-colour;
  background: #eee;
  @include simple-animation;
  &:hover {
    border-left-width: 10px;
    padding-left: 10px;
    background: #f5f5f5;
  }
}

nav.subnav {
  ul {
    list-style: none;
  }
  li {
    margin-bottom: 10px;
  }
}
