
.form-hint {
  p {

  }
  p + ul {
    margin-top: -.7em;
  }
  ul {
    margin-bottom: .7em;
  }
}

fieldset.highlight {
  background: lighten($grey-3, 5%);
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  @include media(tablet) {
    padding: 30px;
  }
  .form-control {
    width: 100%;
  }
}

.form-group {
  p.form-hint {
    margin-bottom: 5px;
  }
  .error-message {
    display: none;
  }
  &.form-group-error .error-message {
    display: block;
  }
  .help-text {

  }
}

.error-message {
  margin-top: -5px;
  margin-bottom: 10px;
}

.form-group-error {
  margin-right: 0;
}

.button-full {
  width:100%;
}

@include media(tablet) {
  .full-width {
    width:100%;
    &.form-group-error {
      margin-right: 15px;
    }
  }
}

form {
  .panel {
    padding-top: 7px;
    padding-bottom: 5px;
    margin-bottom: 15px;
    @include media(tablet) {
      margin-bottom: 30px;
    }
  }
}

form.inline {
  display: inline-block;
}

@for $i from 4 through 12 {
  .char-width-#{$i} {
    width: #{$i}em;
  }
}

.multiple-choice [type=radio]+label::before {
  background: #fff;
}

div.show-password {
  position: relative;
  input.form-control {
    padding-right: 35px;
    margin: 0;
  }
  .show-password-control {
    position: absolute;
    right:0;
    bottom: 0;
    top: 0;
    label {
      background-image: url("../images/icon-view-password.png");
      @include device-pixel-ratio {
        background-image: url("../images/icon-view-password-2x.png");
        background-size: 27px 27px;
      }
      display: block;
      user-select: none;
      cursor: pointer;
      overflow: hidden;
      text-indent: -9999px;
      width: 27px;
      height: 27px;
      margin: 2px 5px;
      @include media(tablet) {
        margin: 5px 7px;
      }
    }
    input {
      display: none;
    }
    &.type-password {
      label {
        background-image: url("../images/icon-hide-password.png");
        @include device-pixel-ratio {
          background-image: url("../images/icon-hide-password-2x.png");
          background-size: 27px 27px;
        }
      }
    }
  }
}

@include media(tablet) {
  div.show-password {
    display: inline-block;
    width: 50%;
    &.full-width {
      width: 100%;
    }
    .form-control {
      width: 100%;
    }
    .show-password-control {
      right:0;
      label {
        font-size: 19px;
        line-height: 1.31579;
      }
    }
  }
}


// Start now buttons
.button-start,
.button-get-started {
  background-image: url("../images/icon-pointer.png");
  @include device-pixel-ratio {
    background-image: url("../images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

.button-secondary {
  @include button($grey-3);
  &[disabled="disabled"] {
    background-color: $grey-3;
  }
}

.button-text {
  font: inherit;
  background: none;
  border: none;
  padding: 0;
  text-decoration: underline;
  margin: 0;
  color:#fff;
  cursor: pointer;
  &:hover {
    text-decoration: none;
  }
}

.notification-information .button-text {
  color: $link-colour;
}

.submit-buttons {
  .button {
    margin-bottom: 10px;
    @include media(tablet) {
      margin-right: 5px;
    }
  }
}

.form-submit {
  @extend .form-group
}

.search-form {
  position: relative;
  padding-left: 35px;
  margin-bottom: 20px;
  button {
    position: absolute;
    width: 30px;
    height: 30px;
    background: #ccc;
    top: 0;
    left: 0;
    overflow: hidden;
    text-indent: -9999px;
  }
  input {
    border: none;
    border-bottom: 1px solid $black;
    padding: 7px 0;
    min-width: 300px;
  }
}

.search-field {
  position: relative;
  margin-bottom: 30px;
  .search-input {
    padding: 0 40px 0 0;
    input {
      border-radius: 0;
      font-size: 16px;
      font-weight: 400;
      width: 100%;
      padding: 0 0 0 10px;
      display: block;
      height: 40px;
      border-color: $black;
      line-height: 38px;
    }
  }
  .search-submit {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 40px;
    width: 40px;
    overflow: visible;
    button {
      border-radius: 0;
      box-shadow: none;
      position: absolute;
      z-index: 4;
      right: 0;
      top: 0;
      width: 40px;
      height: 40px;
      border: none;
      overflow: hidden;
      text-indent: -5000px;
      color: #fff;
      background-color: $green;
      background-image: url("../images/search-icon.svg");
      background-repeat: no-repeat;
      background-size: 20px 20px;
      background-position: 9px 9px;
    }
  }
  label {
    display: block;
  }
  .spinner-inline {
    opacity: .7;
  }
}

.select2-container--default .select2-selection--single {
  border: 2px solid $black;
}

.select2-container--focus {
  outline: 3px solid #ffbf47;
  outline-offset: 0;
}

.button-link {
  border: none;
  background: none;
  color: $link-colour;
  text-decoration: underline;
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  cursor: pointer;
  font-size: inherit;
  &:hover {
    color: $link-hover-colour;
  }
}

.filter-link {
  margin-bottom: 15px;
  @include media(tablet) {
    margin: 7px 0 15px 0;
  }
}
