label {
  margin-bottom: 5px;
}

.form-hint {
  p {

  }
  p + ul {
    margin-top: -.7em;
  }
  ul {
    margin-bottom: .7em;
  }
}

fieldset.highlight {
  background: lighten($grey-3, 5%);
  padding: 15px;
  box-sizing: border-box;
  @include media(tablet) {
    padding: 30px;
  }
  .form-control {
    width: 100%;
  }
}

.form-group {
  .error-message {
    display: none;
  }
  &.form-group-error .error-message {
    display: block;
  }
}

.error-message {
  margin-top: -5px;
  margin-bottom: 10px;
}

.button-full {
  width:100%;
}

fieldset {
  .panel {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    @include media(tablet) {
      margin-bottom: 30px;
    }
  }
}
