label {
  margin-bottom: 5px;
}

.form-hint {
  p {

  }
  p + ul {
    margin-top: -.7em;
  }
  ul {
    margin-bottom: .7em;
  }
}

fieldset.highlight {
  background: lighten($grey-3, 5%);
  padding: 15px;
  box-sizing: border-box;
  margin-bottom: 20px;
  @include media(tablet) {
    padding: 30px;
  }
  .form-control {
    width: 100%;
  }
}

.form-group {
  p.form-hint {
    margin-bottom: 5px;
  }
  .error-message {
    display: none;
  }
  &.form-group-error .error-message {
    display: block;
  }
}

.error-message {
  margin-top: -5px;
  margin-bottom: 10px;
}

.button-full {
  width:100%;
}

@include media(tablet) {
  .full-width {
    width:100%;
  }
}

fieldset {
  .panel {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 15px;
    @include media(tablet) {
      margin-bottom: 30px;
    }
  }
}

@for $i from 4 through 12 {
  .char-width-#{$i} {
    width: #{$i}em;
  }
}

div.show-password {
  position: relative;
  .show-password-control {
    position: absolute;
    right:0;
    bottom: 0;
    border: 2px solid $black;
    background: $grey-4;
    label {
      width: 4em;
      text-align: center;
      font-size: 16px;
      line-height: 1.25;
      padding: 4px 4px 0px;
      display: block;
      user-select: none;
      cursor: pointer;
    }
    input {
      display: none;
    }
  }
}

@include media(tablet) {
  div.show-password {
    display: inline-block;
    width: 50%;
    &.full-width {
      width: 100%;
    }
    .form-control {
      width: 100%;
    }
    .show-password-control {
      right:0;
      label {
        font-size: 19px;
        line-height: 1.31579;
      }
    }
  }
}


// Start now buttons
.button-start,
.button-get-started {
  background-image: url("../images/icon-pointer.png");
  @include device-pixel-ratio {
    background-image: url("../images/icon-pointer-2x.png");
    background-size: 30px 19px;
  }
}

.button-secondary {
  @include button($grey-3);
}

.submit-buttons {
  .button {
    margin-bottom: 10px;
    @include media(tablet) {
      margin-right: 5px;
    }
  }
}

