#global-header {

}

#global-header #logo {
  background-image: url('../images/gov.uk_logotype_crown.png');
}

@include media(tablet) {
  #proposition-name {
    margin-top: 5px;
    display: block;
  }
}

#global-header .header-wrapper .header-global .header-logo {
  width: auto;
}

.header-title {
  float: left;
  color: #fff;
  margin: 5px 15px 0;
  margin-top: 14px;
  font-size: 18px;
  line-height: 1.2;
  @include media("379px") {
    margin: 14px 0 0 0;
  }
  @include media(tablet) {
    font-size: 24px;
    line-height: 1.25;
    margin-top: 8px;
  }
}

.header-user {
  border-bottom:1px solid $border-colour;
  .header-inner {
    border-top: 10px solid $govuk-blue;
    margin: 0 15px;
    font-size: 14px;
    line-height: 1.2em;
    @include media(tablet) {
      margin: 0 30px;
      max-width: 960px;
    }
    @include media($desktop) {
      margin: 0 auto;
    }
  }
  p.signed-in-as {
    margin: 0;
    padding: 12px 0 10px;
    @include bold-19;
    @include media(tablet) {
      float: left;
    }
  }
  .account-information {
    @extend %contain-floats;
  }
}

.phase-banner-alpha, .phase-banner-beta {
  margin-bottom: -1px;
}

#user-nav {
  @include media(tablet) {
    font-size: 16px;
    margin: 5px 0;
    float: right;
  }
  & > ul {
    margin-left: -15px;
    margin-right: -15px;
    list-style: none;
    li {
      @include media(tablet) {
        float: left;
      }
    }
  }
  a {
    display: block;
    padding: 12px 15px 10px;
    color: $black;
    &:focus {
      outline: 0;
    }
  }
}

button.link-back {
  border-top: none;
  border-left: none;
  border-right: none;
  padding-right: 0;
}

