.toggle-help {
  @extend .form-hint;
  border-left: 3px solid $border-colour;
  padding-top: 5px;
  padding-left: 10px;
}

.toggletip {
  position: relative;
  button, a {
    font-weight:700;
    font-size: 16px;
    background: $govuk-blue;
    text-align: center;
    border-radius: 50%;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    height: 1.4em;
    line-height: 1.5em !important;
    margin: 0.25em;
    padding: 0 .4em;
    display: inline-block;
    text-decoration: none;
  }
  a {
    height: 1.2em;
    line-height: 1.4 !important;
  }
  .bubble {
    background: $black;
    color: #fff;
    border-radius: 3px;
    padding:5px 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    margin-bottom: 5px;
    font-size: 16px;
    min-width: 150px;
    &.long {
      min-width: 300px;
    }
    &:before {
      content: "";
      left:10px;
      bottom:0;
      display: block;
      position: absolute;
      border: 5px solid transparent;
      border-top-color: $black;
      margin-bottom: -10px;
    }
  }
}
