// Grid layout

.row {
  @extend .govuk-grid-row;
  &.row-spacer {
    margin-bottom: 20px;
  }
}

.row > div > span {
  background: map.get($_govuk-colour-palette-legacy, "grey-3");
  color: map.get($_govuk-colour-palette-legacy, "grey-4");
  display: block;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
  @include govuk-media-query(tablet) {
    margin-bottom: 30px;
  }
}

.row-intro {
  margin-top: 20px;
}

.services-list {
  @extend .govuk-grid-row;
  li {
    margin-bottom: -1px;
    h2 {
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
    }
  }
}

@include govuk-media-query(tablet) {
  .services-list {
    li {
      padding: 15px;
    }
  }
}

aside {
  border-top: 5px solid map.get($_govuk-colour-palette-legacy, "blue");
  padding-top: 15px;
  margin-top: 15px;
  > h2.govuk-heading-m {
    margin-top: 0;
    margin-bottom: 15px;
  }
  @include govuk-media-query(tablet) {
    margin-top: 70px;
  }
}

.pull-left {
  @include govuk-media-query(tablet) {
    float: left;
  }
}

.pull-right {
  @include govuk-media-query(tablet) {
    float: right;
  }
}

.cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include govuk-media-query(tablet) {
    margin: 0 -15px;
  }
  a.card {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    @include govuk-media-query(tablet) {
      flex-basis: calc(50% - 30px);
      margin: 0 15px 30px;
    }
  }
}

.manage-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  @include govuk-media-query(tablet) {
    margin: 0 -15px;
  }
  div.manage-card, div.manage-card-disabled {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin-bottom: 15px;
    position: relative;
    @include govuk-media-query(tablet) {
      flex-basis: calc(50% - 30px);
      margin: 0 15px 30px;
    }
    p.manage-link{
      color: #005ea5;
    }
  }
  div.manage-card > a {
    position: absolute;
    display: inline;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }
  div.manage-card > a:hover, a:visited, a:active, a:focus {
    background: none;
    color: inherit;
    text-decoration: none;
  }
  .manage-card, .manage-card-disabled a {
    position: relative;
    z-index: 1;
  }
}


dl.inline {
  dt, dd {
    display: inline;
  }
  dt {
    &:before {
      content: "";
      display: block;
    }
  }
  dd {
    font-weight: bold;
  }
}

.js-enabled .js-visible {
  display: block;
  visibility: visible;
}

.heading-group {
  margin: 15px 0;
  @include govuk-clearfix;
  h2, h3 {
    margin: 0;
    float: left;
  }
  a {
    float: right;
    margin-top: -3px;
  }
  padding-top: 10px;
}


ul.list-table {
  margin-bottom: 15px;
  li {
    padding: 10px 0;
    border-top: 1px solid map.get($_govuk-colour-palette-legacy, "grey-2");
    p {
      font-weight:bold;
      margin: 0;
    }
    .meta {
      @include govuk-font(16);
      color: map.get($_govuk-colour-palette-legacy, "grey-1");
    }
  }
}

section {
  padding: 5px 0;
  margin: 5px 0;
}

img.responsive {
  max-width: 100%;
  display: block;
}

.highlight {
  margin: 25px 0;
  padding: 25px;
  border: 1px solid map.get($_govuk-colour-palette-legacy, "grey-2");
  @include govuk-media-query(tablet) {
    margin: 0 25px 25px;
  }
  & > h3 {
    margin-top: 0;
  }
  p:last-child {
    margin-bottom: 0;
  }
}

img.spacing {
  margin: 20px 0;
  @include govuk-media-query(tablet) {
    margin: 30px 20px;
  }
}

.col-6 img.spacing {
  @include govuk-media-query(tablet) {
    margin: 30px 50px;
  }
}

.govuk-box-highlight {
  padding: 1.5em;
  h1.govuk-heading-xl {
    margin: 0.5em 0;
  }
}

.inline-wrap {
  form, p {
    display: inline;
  }
}
