.main-nav {
  border-bottom: 1px solid $border-colour;
  nav {
    @include media(1020px) {
      margin: 0 auto;
      max-width: 960px
    }
  }
  ul {
    @extend %contain-floats;
    list-style: none;
    position: relative;
    bottom: -1px;
    @include media(tablet) {
      margin: 0 15px;
    }
    @include media(1020px) {
      margin: 0 -15px;
    }
  }
  li {
    border-bottom: 1px solid $border-colour;
    position: relative;
    @include media(tablet) {
      float: left;
    }
  }
  a {
    display: block;
    padding: 7px 15px 5px;
    text-decoration: none;
    color: $black;
    &.current {
      font-weight: bold;
      &:after {
        display: block;
        background: $govuk-blue;
        content: "";
        width:5px;
        top: 0;
        left: 0;
        bottom: 0;
        position: absolute;
        @include media(tablet) {
          top: auto;
          left: 15px;
          right: 15px;
          width: auto;
          height: 5px;
        }
      }
    }
  }
}

ul.tabs {
  list-style: none;
  border: 1px solid $border-colour;
  margin:20px 0;
  @extend %contain-floats;
  @include media(tablet) {
    border: none;
    border-bottom: 1px solid $border-colour;
  }
  li {
    border: 1px solid transparent;
    border-bottom: 1px solid $border-colour;
    position: relative;
    margin-bottom: -1px;
    @include media(tablet) {
      float: left;
    }
  }
  li > a, li.active {
    padding: 15px 15px 10px;
    display: block;
    @include media(tablet) {
      padding: 15px 30px 10px;
    }
  }
  li.active {
    @include media(tablet) {
      border-color: $border-colour;
      border-bottom-color: #fff;
    }
  }
}

.pagination {
  @extend %contain-floats;
  margin-top: -10px;
  margin-bottom: 20px;
  li {
    float: left;
    text-align: center;
    margin-right: 10px;
    a, span.current {
      display: block;
      min-width: 1em;
    }
    span.current {
      font-weight: bold;
    }
  }
}

@include media(tablet) {
  .pagination {
    float: right;
    margin-top: .26316em;
    margin-bottom: 1.05263em;
    li {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
