$success: $turquoise;
$warning: $orange;

.notification {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
  border:3px solid $border-colour;
  @include media(tablet) {
    border-width: 5px;
  }
  h2 {
    font-weight:bold;
    font-size: 120%;
  }
  p {
    margin-bottom: 0;
  }
  &:focus {
    outline: 3px solid $focus-colour;
  }
}

.notification-success {
  border-color: $success;
  background: $turquoise;
  color: #fff;
}

.notification-warning {
  border-color: $warning;
}

.notification-error {
  border-color: $error-colour;
}
