.support {
  #global-header {
    border-bottom: 10px solid map.get($govuk-colours, "blue");
    .header-wrapper {
      padding-top: 5px;
      padding-bottom: 1px;
      .identity {
        color: map.get($govuk-colours, "mid-grey");
        b {
          color: #fff
        }
      }
    }
  }
}
