table {
  border-top:1px solid $border-colour;
  th, td {
    padding: .5em 1em .5em 0;
    vertical-align: top;
  }
  th {
    font-weight: bold;
  }
}

.empty-state {
  background: $grey-4;
  padding: 15px;
  text-align: center;
  p {
    margin: 0;
  }
}

@for $i from 1 through 30 {
  .cw-#{$i * 10} {
    width: #{$i * 10}px;
  }
}

@for $i from 1 through 20 {
  .cwp-#{$i * 5} {
    width: #{$i * 5%};
  }
}
