@import "../../node_modules/select2/src/scss/core";
@import "govuk-elements";
@import "variables";
@import "mixins";
@import "layout";
@import "components";
@import "forms";
@import "tables";
@import "notifications";
@import "header";
@import "typography";
@import "navigation";
@import "footer";
@import "help";
@import "support";

@import "pages/services";
@import "pages/search-results";
@import "pages/splash";

html, body {
  background: $grey-3;
  &.white-bg {
    background: #fff;
  }
}

.wrapper {
  background: #fff;
}

.identity {
  color: #fff;
  margin: 10px 15px;
  font-size: 16px;
  @include media(tablet) {
    font-size: 24px;
  }
}

h1.heading-xlarge {
  margin: 1.25em 0 0.625em;
}

.vh {
  @extend .visuallyhidden;
}

nav.prototype {
  position: fixed;
  background: #000;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  ul {
    margin: 0 auto;
    li {
      display: inline-block;
      color: $grey-3;
      margin: 0 5px;
      a {
        display: inline-block;
        padding: 5px 0 10px;
        color: #fff;
      }
    }
  }
}




