{% extends "layout.html" %}

{% block content %}
<div class="grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Access DfE services
    </h1>
    <div class="heading-group">
    <h2 class="heading-medium">
      Your DfE services <span class=""> <a href="viewall">View available DfE services</a></span>
    </h2>
  </div>
    <ul class="service-list-blocks">
      <li>
        <a href="dd" class="service service-k2s">
          <h2>Key to Success</h2>
          <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
        <a href="manage" class="manage">
          Manage access and users for Key to Success
        </a>
      </li>
      <li>
        <a class="service service-collect" href="ss#">
            <h2>COLLECT</h2>
            <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
      </li>
      <li>
        <a class="service service-gias" href="aa">
          <h2>Get information about schools</h2>
          <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
      </li>
    </ul>

    <h3 class="heading-medium">You have requested access to the following services</h3>
    <h4 class="heading-small school">Saint Patricks School</h4>
    <ul class="service-list-table">
      <li class="service-mtc">
        <p>Multiplication tables check</p>
        <span>Request sent to Steve Jones (steve.jones@stpatricks.co.uk) on 30th October 2017</span>
      </li>
      <li class="service-eb">
        <p>Edubase</p>
        <span>Request sent to Steve Jones (steve.jones@stpatricks.co.uk) on 30th October 2017</span>
      </li>
    </ul>


  </div>
  <div class="col-3">
    <h3 class="heading-medium details-heading">Your details</h3>
   <ul class="list">
      <li><a href=change">Change your password</a></li>
      <li><a href="edit">Edit your details</a></li>
   </ul>
  </div>
</div>

{% endblock %}


{% block styles %}

<style>

  h2 span {
    display: inline-block;
    font-size: 80%;
    float: right;
    font-weight:normal;
  }

  a.card {
    border-left: 5px solid #347ca9;
  }

  a.service-k2s {
    border-left-color: #24651D !important;
  }
  a.service-gias {
    border-left-color: #005ea5 !important;
  }

  .card p {
    margin-bottom: 0;
    font-size: 17px;
    color: #555;
  }

  ul.service-list li {
    background: #eee;
    padding: 10px;
    border-left: 5px solid #005ea5;
    margin-bottom: 5px;
  }

  ul.service-list li p {
    font-weight:bold;
    margin: 0;
  }

  ul.service-list li span {
    font-size: 17px;
    color: #555;
  }

  ul.service-list li.service-eb {
    border-left-color: #224c69;
  }

  ul.service-list-table {

   }

  ul.service-list-table li {
    padding: 10px 0;
    border-top: 1px solid #ddd;
  }

  ul.service-list-table li p {
     font-weight: bold;
      margin:0;
   }

  ul.service-list-table li span {
    font-size: 17px;
    color: #555;
  }

  ul.service-list-blocks {

  }

  ul.service-list-blocks li {
    margin-bottom: 15px;
  }

  ul.service-list-blocks li a.service {
    background: #f8f8f8;
    padding: 10px;
    border-left: 5px solid #005ea5;
    display: block;
    text-decoration: none;
  }

  ul.service-list-blocks li a.service h2 {
    text-decoration: none;
    font-weight:bold;
    color: #0b0c0c;
  }

  ul.service-list-blocks li a.service p {
    margin: 0;
    text-decoration: none;
    font-size: 17px;
    color: #555;
  }

  ul.service-list-blocks li a.manage {
    background: #f8f8f8;
    padding: 5px 15px;
    display: block;
    margin-top: 2px;
    font-size: 17px;
    border-left: 5px solid #24651D;
  }

  ul.service-list-blocks li a:hover {
    background: #eee;
  }

  .school {
    border-bottom: 2px solid #ddd;
    margin-bottom: 0;
    margin-top: 20px;
  }

  h3.details-heading {
    border-bottom: 5px solid #347ca9;
    margin-bottom: 15px;
    padding-bottom: 10px;
  }

</style>

{% endblock %}
