{% extends "layout.html" %}

{% block content %}
<div class="grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Access DfE services
    </h1>
    <div class="heading-group">
    <h2 class="heading-medium">
      Your DfE services
    </h2><a href="viewall">View available DfE services</a>
  </div>
    <ul class="service-list">

      <li>
        <a href="#" class="under-construction">
          <h3><span class="service-title">K2S</span> <span class="role-name">End user</span></h3>
          <span></span>
        </a>
      </li>
      <li>
        <a href="#" class="under-construction">
          <h3><span class="service-title">K2S</span> <span class="role-name">End user</span></h3>
          <span></span>
        </a>
      </li>

    </ul>
    <ul class="service-list-blocks">
      <li>
        <a href="dd" class="service service-k2s">
          <h2>Key to Success</h2>
          <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
        <a href="manage" class="manage">
          Manage access and users for Key to Success
        </a>
      </li>
      <li>
        <a class="service service-collect" href="ss#">
            <h2>COLLECT</h2>
            <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
      </li>
      <li>
        <a class="service service-gias" href="aa">
          <h2>Get information about schools</h2>
          <p>Service approver is Greg Sanders (greg.sanders@stpatricks.co.uk)</p>
        </a>
      </li>
    </ul>

    <h3 class="heading-medium">You have requested access to the following services</h3>
    <h4 class="heading-small school">Saint Patricks School</h4>
    <ul class="service-list-table">
      <li class="service-mtc">
        <p>Multiplication tables check</p>
        <span>Request sent to Steve Jones (steve.jones@stpatricks.co.uk) on 30th October 2017</span>
      </li>
      <li class="service-eb">
        <p>Edubase</p>
        <span>Request sent to Steve Jones (steve.jones@stpatricks.co.uk) on 30th October 2017</span>
      </li>
    </ul>


  </div>
  <div class="col-3">
    <h3 class="heading-medium details-heading">Your details</h3>
   <ul class="list">
      <li><a href=change">Change your password</a></li>
      <li><a href="edit">Edit your details</a></li>
   </ul>
  </div>
</div>

{% endblock %}
