{% extends "layout.html" %}

{% block content %}
<a href="step3" class="link-back">Back</a>
<div class="grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Welcome message
    </h1>
    <p class="lede">Add a personalised message for the new user.</p>
  </div>
</div>
<div class="grid-row">
  <div class="col-12">
    <form method="get" action="step5">

        <div class="form-group">
          <label class="form-label" for="message">Message to the user</label>
          <textarea class="form-control form-control-3-4" rows="5" name="message" id="message">You have been given access to our DfE services. Follow the instructions below to start using them.</textarea>
        </div>


      <input type="submit" class="button" class="button" value="Review">
      <a href="/" class="button button-secondary">Cancel</a>

    </form>
  </div>
</div>
{% endblock %}
