{% extends "layout.html" %}

{% block content %}
<a href="step5" class="link-back">Back</a>
<div class="govuk-grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Edit welcome message
    </h1>
  </div>
</div>
<div class="govuk-grid-row">
  <div class="col-12">
    <form method="get" action="step5">
      <div class="form-group">
        <label class="form-label" for="message">Message to the user</label>
        <textarea class="form-control form-control-3-4" rows="8" name="message" id="message">Catherine,

I've given you access to our DfE services. Follow the instructions below to start using them.

Let me know if you have any questions,

Keith</textarea>
      </div>
      <div class="submit-buttons">
        <input type="submit" class="button" value="Save">
        <a href="step5" class="button button-secondary">Cancel</a>
      </div>
    </form>
  </div>
</div>
{% endblock %}
