.cookies-page-dfe-sign-in {
  .col-8 {
    &--no-padding {
      padding: 0;
    }
  }

  .cookies-page-dfe-sign-in__preferences-form, #dsi-set-cookie-preferences {
    display: none;
  }
  .js-enabled & {
    .no-js-message {
      display: none;
    }
    .govuk-heading-xl {
      &--reduce-padding {
        margin-top: 10px;
      }
    }
    .cookies-page-dfe-sign-in__preferences-form, #dsi-set-cookie-preferences {
      display: block;
      &__ga-info {
        p {
          margin-bottom: 0;
        }
        .govuk-list--bullet {
          &--indent {
            padding-left: 40px;
          }
        }
      }
    }
  }
}