.select-service-list {
  .service-description {
    clear: both;
    color: $grey-1;
    font-size: .9em;
    padding: 0 30px 0 12px;
    margin:0;
    position: relative;
    top:-10px;
  }
  .panel-permissions {
    position: relative;
    top:-15px;
  }
  & > .form-group {
    margin-bottom: 15px;
    & > .multiple-choice {
      margin-bottom: 5px;
    }
  }
}

.service-list {

  li {

    margin-bottom: 10px;
    border-left: 5px solid $grey-2;
    background: $grey-4;

    &.status-live {
      border-left-color: $turquoise;
    }

    .service-name {
      padding: 10px;
      @include media(tablet) {
        padding: 10px 15px 5px;
      }
      @extend %contain-floats;
      h3 {
        font-weight: bold;
        @include media(tablet) {
          float: left;
        }
      }
    }

    .heading-secondary {
      color:$grey-1;
      font-size: 90%;
      font-weight: normal;
      padding-left: 5px;
    }

    .service-link {
      display: block;
      text-decoration: underline;
      &:visited {
        color: $link-colour;
      }
    }

    .role-name {
      color:$grey-1;
      font-size: 90%;
      @include media(tablet) {
        float: right;
        padding-left: 15px;
      }
    }
    .more-information {
      padding: 10px;
      @include media(tablet) {
        padding: 7px 15px 10px;
      }
      font-size: 80%;
      border-top: 1px solid #fff;
      a {
        &:visited {
          color: $link-colour;
        }
      }
    }
  }
}

.js-enabled .service-list .modal {
  display: none;
}

.js-enabled .service-list .modal {
  position: fixed;
  background: #fff;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-sizing: border-box;
  @include media(tablet) {
    width: 600px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
  }
}

.modal-bg {
  position: fixed;
  background: rgba(0,0,0,.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

html.modal-open,
html.modal-open body {
  overflow: hidden;
}
