.organisation-services {
  margin-bottom: 30px;
}
.organisation {
  header {
    h2 {
      font-weight: bold;
    }
  }
  .user {
    @extend %contain-floats;
    font-size: 15px;
    line-height: 18px;
    .role {
      float: right;
      padding-left: 25px;
      background: url("../images/icon-user.svg") top left no-repeat;
      &.approver {
        background-image: url("../images/icon-user-approver.svg");
      }
    }
    a.info-link {
      float: left;
    }
  }
  .meta {
    background: $grey-4;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    border-top: 3px solid darken($grey-4, 5%);
    border-bottom: 1px solid darken($grey-4, 5%);
    visibility: visible;
    &:before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: $grey-4;
      top: -19px;
      z-index: 10;
    }
    &:after {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: darken($grey-4, 5%);
      top: -23px;
      z-index: 3;
    }
    dl {
      margin-top: 0;
    }
  }
}


.service-list {
  > li {
    margin-bottom: 10px;
    .links {
      border: 1px solid $grey-3;
      @extend %contain-floats;
      background: $grey-4;
      margin-left: 5px;
      position: relative;
    }
    a.service-link {
      display: block;
      border-left: 5px solid $govuk-blue;
      padding: 15px;
      font-weight: bold;
      line-height: 1;
      position: relative;
      margin: -1px;
      background: none;
      &:hover {
        color: $link-hover-colour;
        border-left-color: $link-hover-colour;
      }
    }
    a.information {
      float: right;
      padding: 5px 15px;
      border-left: 1px solid $grey-3;
      font-size: 15px;
      margin-top: 10px;
      background: $grey-4;
      position: absolute;
      top: 0;
      right: 0;
    }
    .service-description {
      font-size: 15px;
      padding: 15px;
      background: $grey-4;
      border-top: 3px solid darken($grey-4, 5%);
      margin-left: 10px;
      visibility: visible;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.js-enabled .service-list .modal {
  display: none;
}

.js-enabled .service-list .modal {
  position: fixed;
  background: #fff;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-sizing: border-box;
  @include media(tablet) {
    width: 600px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    padding: 30px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .close {
    position: absolute;
    height:30px;
    width: 30px;
    top: 15px;
    right:15px;
    overflow: hidden;
    opacity: .5;
    text-indent: -9999px;
    cursor: pointer;
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity:1;
    }
  }
}

.modal-bg {
  position: fixed;
  background: rgba(0,0,0,.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

html.modal-open,
html.modal-open body {
  overflow: hidden;
}

