.organisation-services {
  margin-bottom: 30px;
}
.organisation {
  header {
    display: table;
    width:100%;
    h2 {
      font-weight: bold;
      @include media(tablet) {
        display: table-cell;
        padding-right: 10px;
      }
    }
    a {
      padding: 5px 0;
      font-size: 15px;
      @include media(tablet) {
        border-left: 1px solid $grey-3;
        padding: 5px 15px;
        float: right;
        display: table-cell;
      }
    }
  }
  .user {
    @extend %contain-floats;
    font-size: 15px;
    line-height: 18px;
    .role {
      float: right;
      padding-left: 25px;
      background: url("../images/icon-user.svg") top left no-repeat;
      &.approver {
        background-image: url("../images/icon-user-approver.svg");
      }
    }
    a.info-link {
      float: left;
    }
  }
  .meta {
    background: $grey-4;
    padding: 10px;
    margin-top: 10px;
    position: relative;
    border-top: 3px solid darken($grey-4, 5%);
    border-bottom: 1px solid darken($grey-4, 5%);
    visibility: visible;
    &:before {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: $grey-4;
      top: -19px;
      z-index: 10;
    }
    &:after {
      content: '';
      position: absolute;
      border: 10px solid transparent;
      border-bottom-color: darken($grey-4, 5%);
      top: -23px;
      z-index: 3;
    }
    dl {
      margin-top: 0;
    }
  }
}


.service-list {
  > li {
    margin-bottom: 10px;
    .links {
      border: 1px solid $grey-3;
      @extend %contain-floats;
      background: $grey-4;
      margin-left: 5px;
      position: relative;
    }
    div.service-link {
      display: block;
      border-left: 5px solid $govuk-blue;
      padding: 15px;
      font-weight: bold;
      line-height: 1;
      position: relative;
      margin: -1px;
      background: none;
      &:hover {
        color: $link-hover-colour;
        border-left-color: $link-hover-colour;
      }
    }
    a.information {
      float: right;
      padding: 5px 15px;
      border-left: 1px solid $grey-3;
      font-size: 15px;
      margin-top: 10px;
      background: $grey-4;
      position: absolute;
      top: 0;
      right: 0;
    }
    .service-description {
      font-size: 15px;
      padding: 15px;
      background: $grey-4;
      border-top: 3px solid darken($grey-4, 5%);
      margin-left: 10px;
      visibility: visible;
      p {
        margin: 0;
        padding: 0;
      }
    }
  }
}

.js-enabled .service-list .modal {
  display: none;
}

.js-enabled .service-list .modal {
  position: fixed;
  background: #fff;
  padding: 20px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  box-sizing: border-box;
  @include media(tablet) {
    width: 600px;
    top: 100px;
    left: 50%;
    margin-left: -300px;
    padding: 30px;
  }
  h3 {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .close {
    position: absolute;
    height:30px;
    width: 30px;
    top: 15px;
    right:15px;
    overflow: hidden;
    opacity: .5;
    text-indent: -9999px;
    cursor: pointer;
    &:before, &:after {
      position: absolute;
      left: 15px;
      content: ' ';
      height: 33px;
      width: 2px;
      background-color: #333;
    }
    &:before {
      transform: rotate(45deg);
    }
    &:after {
      transform: rotate(-45deg);
    }
    &:hover {
      opacity:1;
    }
  }
}

.modal-bg {
  position: fixed;
  background: rgba(0,0,0,.3);
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

html.modal-open,
html.modal-open body {
  overflow: hidden;
}


.servicesv2 {
  .header-user,
  .navigation {
    background: #fff;
  }
  .my-orgs {
    margin-bottom: 0.625em;
    @include media(tablet) {
      margin-top: 4.0em;
    }
  }
  .wrapper {
    background: lighten($light-blue, 50%);
    background: #f8f9fb;
  }
  h2 {
    margin-top: 0;
    span {
      white-space: nowrap;
    }
  }
  .portal {
    a {
      background: #fff;
      display: block;
      padding: 15px;
      padding-right: 40px;
      min-height: 2.8em;
      color: $link-colour;
      font-weight: bold;
      border: 3px solid $link-colour;
      border-radius: 5px;
      font-size: 100%;
      box-shadow: 0px 2px 5px 0px darken(#f8f9fb, 30%);
      text-decoration: none;
      margin-bottom: 30px;
      position: relative;
      svg {
        position: absolute;
        bottom: 15px;
        right: 10px;
        width: 20px;
        height: 20px;
        fill: $link-colour;
        fill: $grey-2;
      }
      &:visited {
        color: $black;
        color: $link-colour;
      }
      &:hover {
        box-shadow: 0px 2px 9px 2px darken(#f8f9fb, 30%);
        svg {
          fill: $link-colour
        }
      }

    }
  }
  .school {
    border-bottom: 1px solid lighten($light-blue, 40%);
    padding-bottom: 15px;
    margin-bottom: 25px;
    p {
      margin: 0;
      &.role {
        padding-left: 25px;
        background: url("../images/icon-user.svg") top left no-repeat;
      }
    }
    &:last-child {
      border-bottom: none;
    }
  }
}
