.support {
  #global-header {
    border-bottom: 10px solid $govuk-blue;
    .header-wrapper {
      padding-top: 5px;
      padding-bottom: 1px;
      .identity {
        color: $grey-2;
        b {
          color: #fff
        }
      }
    }
  }
}
