<span class="js-back-link"></span>
<div class="row cookies-page-dfe-sign-in">
    <div class="col-12">
        <h1 class="heading-xlarge heading-xlarge--reduce-padding">Cookies on Department for Education</h1>
        <div class="col-8 col-8--no-padding">
            <p>
                Cookies are files saved on your
                phone, tablet or computer when you visit a website.
            </p>
            <p>
                We use cookies to store information about how you use the DfE Sign-in website, 
                such as the pages you visit.
            </p>
            
            <form class="cookies-page-dfe-sign-in__preferences-form" id="dsi-cookie-form">
                <h2 class="heading-medium">
                    Cookie settings
                </h2>
                <p>You can choose which cookies you're happy for us to use.</p>
                <fieldset>
                    <legend>
                        <h2 class="heading-medium">
                            Cookies that measure website use
                        </h2>
                    </legend>
                    <p>
                        We use analytical software to measure
                        how you use this website so we can 
                        improve it based on user needs. We do not 
                        allow Google or other third party analytical software providers 
                        to use or share data about how you use this site.
                    </p>
                    <div class="multiple-choice">
                        <input id="cookie-radio-usage-true" type="radio" name="cookie.usage" value="1" checked>
                        <label for="cookie-radio-usage-true">
                            <strong>Use</strong> cookies that measure my website use
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="cookie-radio-usage-false" type="radio" name="cookie.usage" value="">
                        <label for="cookie-radio-usage-false">
                            <strong>Do not use</strong> cookies that measure my website use
                        </label>
                    </div>
                </fieldset>

                <fieldset>
                    <legend>
                        <h2 class="heading-medium">
                            Cookies that remember your settings
                        </h2>
                    </legend>
                    <p>
                        These cookies do things like remember your preferences, 
                        the notifications you've seen, and the choices you make, 
                        to personalise your experience of using this site.
                    </p>
                    <div class="multiple-choice">
                        <input id="cookie-radio-settings-true" type="radio" name="cookie.settings" value="1" checked>
                        <label for="cookie-radio-settings-true">
                            <strong>Use</strong> cookies that remember my settings
                        </label>
                    </div>
                    <div class="multiple-choice">
                        <input id="cookie-radio-settings-false" type="radio" name="cookie.settings" value="">
                        <label for="cookie-radio-settings-false">
                            <strong>Do not use</strong> cookies that remember my settings
                        </label>
                    </div>
                </fieldset>
                <h2 class="heading-medium">
                    Strictly necessary cookies
                </h2>
                <p>
                    These essential cookies do things like 
                    remember your progress through a form 
                    (for example a census).
                </p>
                <p>They always need to be on.</p>
                <button class="button button--govuk" id="dsi-set-cookie-preferences">
                    Save cookie preferences
                </button>
            </form>
            <div class="no-js-message">
                <h2 class="heading-medium">Cookie settings</h2>
                <p>We use Javascript to set most of our cookies. Unfortunately Javascript is 
                    not running on your browser, so you cannot change your settings. You can try:
                </p>
                <ul class="list list-bullet">
                    <li>reloading the page</li>
                    <li>turning on Javascript in your browser</li>
                </ul>
            </div>

        </div>
    </div>
</div>