{% set hideHeader = true %}
{% set hideFooter = true %}

{% extends "layout.html" %}

{% block content %}

<span class="tooltip">
  <button type="button" aria-label="more info" title="Tooltip">?</button>
  <span role="status"></span>
</span>

<hr>

<span class="tooltip">
  <button type="button" aria-label="more info" title="Another tooltip">?</button>
  <span role="status"></span>
</span>


{% endblock %}


{% block js %}

<script>


  (function () {

    var toggleTips = $('.tooltip button');
    console.log(toggleTips);

    toggleTips.each(function () {
      var message = $(this).prop('title');
      var liveRegion = $(this).next();
      var $that = $(this);
      $that.removeAttr('title');

      $(this).on('click touch', function () {
        liveRegion.html('');
        window.setTimeout(function() {
          liveRegion.html('<span class="tip">'+ message +'</span>');
        }, 100);
      });

      // Close on outside click
      document.addEventListener('click', function (e) {
        if ($that[0] !== $(e.target)) {
          liveRegion.html('');
        }
      });

      // Remove toggletip on ESC
      $(this).on('keydown', function(e) {
        if ((e.keyCode || e.which) === 27)
          liveRegion.html('');
      });

    });

  }());


  (function() {
    // Get all the toggletip buttons
    var toggletips = document.querySelectorAll('[xtitle]');

    // Iterate over them
    Array.prototype.forEach.call(toggletips, function (toggletip) {
      // Get the message from the data-content element
      var message = toggletip.getAttribute('title');

      // Get the live region element
      var liveRegion = toggletip.nextElementSibling;

      // Toggle the message
      toggletip.addEventListener('click', function () {
        liveRegion.innerHTML = '';
        window.setTimeout(function() {
          liveRegion.innerHTML = '<span class="toggletip-bubble">'+ message +'</span>';
        }, 100);
      });

      // Close on outside click
      document.addEventListener('click', function (e) {
        if (toggletip !== e.target) {
          liveRegion.innerHTML = '';
        }
      });

      // Remove toggletip on ESC
      toggletip.addEventListener('keydown', function(e) {
        if ((e.keyCode || e.which) === 27)
          liveRegion.innerHTML = '';
      });
    });
  }());

</script>

{% endblock %}
