{% set showBanner = true %}

{% extends "layout.html" %}


{% block content %}

        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-small">
                    User profile
                </h1>
                <h2 class="heading-xlarge">
                  Jane Murphy
                </h2>
            </div>
        </div>

        <div class="row">
            <div class="col-8">
                <h2 class="heading-medium">User details</h2>
                <dl class="inline">
                    <dt>First name</dt>
                    <dd>Jane</dd>
                    <dt>Last name</dt>
                    <dd>Murphy</dd>
                    <dt>Email</dt>
                    <dd>jane.murphy@stpatricksschool.co.uk</dd>
                </dl>
            </div>
            <div class="col-4">
                <aside>
                    <h2 class="heading-medium">Profile actions</h2>
                    <nav class="subnav">
                        <ul>
                            <li><a href="user-profile-edit.html">Change my details</a></li>
                            <li><a href="password-edit.html">Change my password</a></li>
                            <li><a href="user-profile-delete.html">Delete my account</a></li>
                        </ul>
                    </nav>
                </aside>
            </div>
        </div>

{% endblock %}
