{% extends "layout.html" %}


{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Change password
    </h1>
  </div>
</div>

<div class="row">
  <div class="col-9">
    <form method="post" action="/change-password-new">
      <fieldset>
        <legend class="vh">Enter your current password</legend>
        <div class="govuk-form-group">
          <label for="new-password" class="govuk-label govuk-label--s">Create new password</label>
          <div class="tooltip">
            <h2>Try these suggestions for a more secure password</h2>
            <ul class="govuk-list govuk-list--bullet">
              <li>Use 3 or more random words e.g. yellowLaptopPaper</li>
              <li>The longer the better, easy to remember, hard to guess</li>
            </ul>
          </div>
          <div class="show-password">
          <input class="govuk-input govuk-!-width-one-half" id="new-password" name="new-password" type="password" required="required"></div>
        </div>

        <div class="form-submit">
          <button type="submit" class="button">Continue</button>
        </div>
      </fieldset>
    </form>


    <h2 class="govuk-heading-m">Output </h2>
    <ul>
      <li><span class="govuk-label__hint">password: </span>  <span id="password"></span></li>
      <li><span class="govuk-label__hint">score (0-4): </span>  <span id="score"></span></li>
      <li><span class="govuk-label__hint">warning: </span>  <span id="warning"></span></li>
      <li><span class="govuk-label__hint">password: </span>  <span id="password"></span></li>
      <li><span class="govuk-label__hint">password: </span>  <span id="password"></span></li>
      <li><span class="govuk-label__hint">password: </span>  <span id="password"></span></li>

    </ul>

  </div>
</div>

{% endblock %}

{% block js %}

<script type="text/javascript" src="/static/wireframes/javascript/zxcvbn.js"></script>
<script>

  $.fn.delayKeyup = function (callback, ms) {
    var timer = 0;
    var el = $(this);

    $(this).keyup(function () {
      clearTimeout(timer);
      timer = setTimeout(function () {
        callback(el)
      }, ms);
    });
    return $(this);
  };

  $(function () {

    var pwdField = $('#new-password'),
      pwdStr = $('<p />').attr('class', 'password-strength'),
      pwdSpn = $('<span />').attr({ 'id': 'pwd-score', 'aria-live': 'polite' }).appendTo(pwdStr);


    pwdField.after(pwdStr).delayKeyup(function (el) {

      var pwd = el.val();

      if (pwd.length > 0) {

        var pwdTest = zxcvbn(pwd),
          helperText = '';

        console.log(pwdTest);

        $('#password').text(pwdTest.password);
        $('#score').text(pwdTest.score);
        $('#warning').text(pwdTest.feedback.warning);

        if (pwdTest.score === 0) {
          helperText = 'Very weak';
        }
        if (pwdTest.score === 1) {
          helperText = 'Weak';
        }
        if (pwdTest.score === 2) {
          helperText = 'Good';
        }
        if (pwdTest.score === 3) {
          helperText = 'Strong';
        }
        if (pwdTest.score === 4) {
          helperText = 'Very strong';
        }

        //$('#pwd-score').text(helperText).parent().attr('class', 'score score-' + pwdTest.score);

        if (pwd.length < 12) {
          $('#pwd-score').html('<span class="icon icon-error"></span> Your password needs to be at least 12 characters');
        } else {
          if (pwdTest.score < 3) {
            $('#pwd-score').html('<span class="icon icon-warning"></span> ' + pwdTest.feedback.warning);
          } else {
            $('#pwd-score').html('<span class="icon icon-success"></span> Good password');
          }
        }

      } else {
        //$('#pwd-score').empty().parent().attr('class', 'password-strength');
      }

    }, 500);
  });

</script>

{% endblock %}


{% block styles %}

<style>

  .icon {
    background: url("/static/wireframes/images/icons.png");
  }

  .icon-error {
    background-position: bottom;
  }

  .icon-warning {
    background-position: center;
  }

  #pwd-score {
    position: relative;
    padding-left: 30px;
    padding-top: 10px;
    display: block;
  }

  #pwd-score span {
    width: 24px;
    height: 24px;
    display: block;
    position: absolute;
    top: 5px;
    left: 0;
  }

  .tooltip {
    background: #eee;
    padding: 15px;
    border-bottom: 5px solid #005ea5;
    margin-bottom: 10px;
    position: relative;
  }

  .tooltip ul {
    margin-bottom: 0;
  }

  .tooltip:before {
    display: block;
    border: 15px solid transparent;
    border-top-color: #005ea5;
    position: absolute;
    top:100%;
    content: "";
  }

</style>

{% endblock %}
