{% extends "layout.html" %}


{% block content %}


        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Change password
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <form method="post" action="/change-password-new" id="form-current-password" novalidate="novalidate">
                  <fieldset>
                      <legend class="vh">Enter your current password</legend>
                      <div class="govuk-form-group">
                          <label class="govuk-label govuk-label--s" for="current-password">Enter your current password</label>
                          <span class="error-message"></span>
                        <div class="show-password">
                          <input class="govuk-input govuk-!-width-one-half" id="current-password" name="current-password" type="password" required="required" pattern=".{8,}" data-validation="Enter a password in the following format">
                        </div>
                      </div>
                      <hr class="govuk-section-break govuk-section-break--xl govuk-section-break--visible">
                      <div class="govuk-form-group">
                        <label for="new-password" class="govuk-label govuk-label--s">Create new password</label>
                        <div class="govuk-label__hint">
                          <p class="govuk-body">Your password must:</p>
                          <ul class="govuk-list--bullet">
                            <li>be at least 8 characters</li>
                            <li>have at least one number (0-9)</li>
                            <li>have at least one letter (a-z)</li>
                            <li>not contain common words (e.g. password)</li>
                          </ul>
                        </div>
                        <div class="show-password">
                          <input class="govuk-input govuk-!-width-one-half" id="new-password" name="new-password" type="password" required="required">
                        </div>
                      </div>
                      <div class="govuk-form-group">
                        <label class="govuk-label govuk-label--s" for="confirm-password">Confirm your new password</label>
                        <div class="show-password">
                          <input class="govuk-input govuk-!-width-one-half" id="confirm-password" name="confirm-password" type="password" required="required">
                        </div>
                      </div>
                      <div class="form-submit">
                          <button type="submit" class="button">Continue</button>
                      </div>
                  </fieldset>
                </form>
            </div>
        </div>

{% endblock %}
