<html>
<head>
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../../dist/css/govuk/govuk-template.css">
    <link rel="stylesheet" href="../../dist/css/screen.css">
</head>
<body class="">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink"></a>
    </div>
</div>

<div id="global-cookie-message">
    <p class="govuk-body">GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about
        cookies</a></p>
</div>

<div class="wrapper">

    <header role="banner" id="global-header" class="with-proposition">
        <div class="header-wrapper">
            <div class="identity">Department for Education</div>
        </div>
    </header>

    <div id="global-header-bar"></div>



    <main id="content" role="main" tabindex="-1">

        <a href="#" class="govuk-back-link">Back</a>

        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">
                    Forgotten password
                </h1>
                <p class="govuk-body-l">Enter your work email address in the form below to reset your password.</p>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <form method="get" action="forgotpasswordemail.html">
                    <fieldset>
                        <legend class="vh">Forgotten password</legend>
                        <div class="govuk-form-group">
                            <label class="govuk-label govuk-label--s" for="email">Email address</label>
                            <input class="govuk-input govuk-!-width-one-half" id="email" type="text">
                        </div>
                        <div class="form-submit">
                            <button type="submit" class="button">Submit</button>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>


    </main>

</div>

<footer id="footer" role="contentinfo">
    <div class="footer-wrapper">
        <nav>
            <ul>
                <li><a href="cookies.html" class="govuk-link">Cookies</a></li>
                <li><a href="privacy.html" class="govuk-link">Privacy policy</a></li>
                <li><a href="terms.html" class="govuk-link">Terms and conditions</a></li>
            </ul>
        </nav>
    </div>
</footer>


<nav class="prototype">
    <ul>
        <li>Example layouts:</li>
        <li><a href="index.html" class="govuk-link">Grid</a></li>
        <li><a href="login.html" class="govuk-link">Login</a></li>
    </ul>
</nav>


</body>
</html>
