{% extends "layout.html" %}

{% block content %}
<div class="grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      <span class="heading-secondary">DfE sign-in</span>
      Access DfE services
    </h1>
    <p class="lede">You can use this service to access many different DfE services using the same sign-in details.</p>
    <p>To get started, you'll need: </p>
    <ul class="list-bullet">
      <li>Your current Secure Access sign-in details</li>
    </ul>
    <div class="panel">
      <p>Please note: This service in only available to users who have been invited via email.</p>
    </div>
    <a href="step2" class="button button-get-started">Start now</a>
  </div>
</div>
{% endblock %}
