{% extends "layout.html" %}

{% block content %}
<a href="step2" class="link-back">Back</a>
<div class="govuk-grid-row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Are these your details?
    </h1>
    <p class="lede">Check the details below to see if they belong to you</p>
    <dl class="rows">
      <dt>First name</dt>
      <dd>Jane</dd>
      <dt>Last name</dt>
      <dd>Murphy</dd>
      <dt>Organisation</dt>
      <dd>St Patrick's School, Earlsfield (URN: 654321)</dd>
      <dt>Job role</dt>
      <dd>Business Manager</dd>
      <dt>Email</dt>
      <dd>jane.murphy@stpatricks.co.uk</dd>
      <dt>Mobile</dt>
      <dd>07777 123456</dd>
    </dl>


    <div class="panel panel-border-wide">
      <p>If you need to edit any of these details, you can do so once you are signed-in at the end of this process</p>
    </div>

    <p>
      <a href="step4" class="button">Continue</a>
    </p>


  </div>
</div>
{% endblock %}
