.global-cookie-message-dfe-sign-in {
  background-color: #FFFFFF;
  padding: 20px 0;
  .js-enabled & {
    display: none;
    .button.cookie-accept {
      display: block;
    }
  } 
  .button {
    &.cookie-accept {
      display: none;
    }
    &--govuk {
      margin-bottom: 20px;
      width: 100%;
      text-align: center;
      font-size: 19px;
    }
  }

  &__cookie-message-container {
    margin: 0 auto;
    max-width: 960px;
    @media (min-width: 641px) {
      margin: 0 30px;
    }
    @media (min-width: 1020px) {
      margin: 0 auto;
    }
    p.govuk-body {
      &--shim {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.25;
        margin-top: 0;
        margin-bottom: 15px;
        @media print {
          color: #000;
          font-family: sans-serif;
          font-size: 14pt;
          line-height: 1.15;
        }
        
        @media (min-width: 640px) {
          font-size: 19px;
          line-height: 1.3157894737;
          margin-bottom: 20px;
        }
      }
    }
  }
  
  .govuk-heading-m {
    &--govuk {
      margin-top: 0;
    }
  }
}
