{% extends "layout.html" %}

{% block content %}
<div class="govuk-grid-row">
  <div class="col-8">
    <h1 class="govuk-heading-xl">
      <span class="heading-secondary">DfE sign-in</span>
      Access DfE services
    </h1>
    <p class="govuk-body-l">You can use this service to access many different DfE services using the same sign-in details.</p>
    <p class="govuk-body">To get started, you'll need: </p>
    <ul class="govuk-list--bullet">
      <li>Your current Secure Access sign-in details</li>
    </ul>
    <div class="panel panel-border-wide">
      <p class="govuk-body">This service in only available to users who have been invited via email.</p>
    </div>
    <a href="step2" class="button button-get-started">Start now</a>
  </div>
</div>
{% endblock %}
