// Grid layout

.row {
  @extend %grid-row;
}

.row > div > span {
  background: $grey-3;
  color: $grey-4;
  display: block;
  text-align: center;
  padding: 15px 0;
  margin-bottom: 15px;
  @include media(tablet) {
    margin-bottom: 30px;
  }
}

@for $i from 1 through 12 {
  .col-#{$i} {
    @include grid-column($i / 12);
  }
}

.services-list {
  @extend %grid-row;
  li {
    margin-bottom: -1px;
    h2 {
      font-weight: bold;
    }
    p {
      margin-bottom: 0;
    }
  }
}



@include media(tablet) {
  .services-list {
    li {
      @include grid-column(6 / 12);
      padding: 15px;
    }
  }
}

aside {
  border-top: 5px solid $department-for-education-websafe;
  padding-top: 15px;
  h2.heading-medium {
    margin-top: .5em;
  }
}
