@import "govuk-elements";
@import "layout";
@import "forms";

$font-stack:  "Helvetica Neue", Helvetica, Arial, sans-serif;

body {
  background: $grey-3;
  font-family: $font-stack;
}

* {
  font-family: $font-stack !important;
}

.wrapper {
  background: #fff;
}

.identity {
  color: #fff;
  margin: 10px 15px;
  font-size: 16px;
  @include media(tablet) {
    font-size: 24px;
  }
}

#global-header-bar {
  background: $department-for-education-websafe;
}

h1.heading-xlarge {
  margin: 1.25em 0 0.625em;
}

.vh {
  @extend .visuallyhidden;
}



nav.prototype {
  position: fixed;
  background: $grey-2;
  border-top: 1px solid $grey-1;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  text-align: center;
  ul {
    margin: 0 auto;
    li {
      display: inline-block;
      a {
        display: block;
        padding: 5px 10px 10px;
      }
    }
  }
}