{% extends "layout.html" %}


{% block content %}
        <div class="grid-row">
            <div class="column-two-thirds">
                <h1 class="heading-xlarge">
                    Change password
                </h1>
            </div>
        </div>

        <div class="row">
            <div class="col-9">
                <form method="post" action="/change-password-new">
                  <fieldset>
                      <legend class="vh">Enter your current password</legend>
                      <div class="form-group">
                          <label class="form-label-bold" for="current-password">Enter your current password</label>
                          <input class="form-control" id="current-password" name="current-password" type="password" required="required">
                      </div>
                      <div class="form-submit">
                          <button type="submit" class="button">Continue</button>
                      </div>
                  </fieldset>
                </form>
            </div>
        </div>

{% endblock %}
