{% set hideHeader = true %}
{% set hideFooter = true %}

{% extends "layout.html" %}

{% block content %}

        <div class="grid-row">
          <div class="column-two-thirds">
            <h1 class="heading-xlarge">
              Department for Education
            </h1>
            <p class="lede">
              Front-end toolkit and prototypes
            </p>

            <h2 class="heading-medium">Journeys</h2>
            <ul class="list-bullet">
              <li><a href="/journeys/migration/step1">Whitelisted migration journey</a> </li>
            </ul>

          </div>
        </div>



{% endblock %}
