{% set hideHeader = true %}
{% set hideFooter = true %}

{% extends "layout.html" %}

{% block content %}

<div class="grid-row">
  <div class="col-12">

    <h1 class="heading-xlarge">
      Department for Education
    </h1>
    <p class="lede">
      Front-end toolkit and prototypes
    </p>

    <div class="grid-row">
      <div class="col-6">
        <h2 class="heading-medium">Journeys</h2>
        <ul class="list-bullet">
          <li><a href="/journeys/invite/step1">Invite user journey</a> </li>
          <li><a href="/journeys/migration/step1">Whitelisted migration journey</a> </li>
        </ul>
        <h2 class="heading-medium">Help desk</h2>
        <ul>
          <li><a href="/journeys/helpdesk/users-search-results">Users - search results</a> </li>
        </ul>
        <h2 class="heading-medium">Concepts</h2>
        <ul>
          <li><a href="/concepts/password/strength">Password strength</a> </li>
        </ul>
      </div>
      <div class="col-6">
        <h2 class="heading-medium">Examples</h2>
        <ul class="list-bullet">
          <li><a href="/styles">Components</a> </li>
        </ul>
      </div>
    </div>




  </div>
</div>

{% endblock %}
