<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>DfE</title>

  <link rel="stylesheet" href="/static/css/govuk/fonts.css">
  <link rel="stylesheet" href="/static/css/govuk/govuk-template.css">
  <link rel="stylesheet" href="/static/css/screen.css">
</head>
<body class="">

<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
  <div>
    <a href="#content" class="skiplink">Skip to content</a>
  </div>
</div>

<div id="global-cookie-message">
  <p>GOV.UK uses cookies to make the site simpler. <a href="https://www.gov.uk/help/cookies">Find out more about cookies</a></p>
</div>

<div class="wrapper">

  <header id="global-header" class="with-proposition">
    <div class="header-wrapper">
      <div class="identity">Department for Education</div>
    </div>
  </header>

  <div class="header-user">
    <div class="header-inner">
      <div class="service-info">
        <div class="phase-banner-beta">
          <p>
            <strong class="phase-tag">BETA</strong>
            <span>This is a new service – your <a href="#" target="_blank">feedback</a> will help us to improve it. </span>
          </p>
        </div>
      </div>
      <div class="account-information" role="navigation">
        <p class="signed-in-as"><span class="vh">You are signed in as</span> James King</p>
        <nav id="user-nav">
          <ul role="menubar">
            <li><a href="/help">Help</a></li>
            <li><a href="/user-profile" role="menuitem">Profile</a></li>
            <li><a href="/signout" role="menuitem">Sign out</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <main class="elements-index" id="content" tabindex="-1">

    {% block content %}

    {% endblock %}

  </main>

</div>

<footer id="footer">
  <div class="footer-wrapper">
    <nav>
      <ul>
        <li><a href="help.html">Help</a></li>
        <li><a href="cookies.html">Cookies</a></li>
        <li><a href="privacy.html">Privacy policy</a></li>
        <li><a href="terms.html">Terms and conditions</a></li>
      </ul>
    </nav>
  </div>
</footer>


<nav class="prototype">
  <ul>
    <li>Example layouts:</li>
    <li><a href="/">Grid</a></li>
    <li><a href="login">Login</a></li>
    <li><a href="user-profile-access-request">User Access</a></li>
    <li><a href="change-password-current">Password</a></li>
    <li><a href="user-profile">Profile</a></li>
  </ul>
</nav>

<script src="/static/javascript/vendors/jquery.js"></script>
<script src="/static/javascript/app.js"></script>

</body>
</html>
