{% set hideHeader = true %}
{% set hideFooter = true %}

{% extends "layout.html" %}

{% block content %}

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-xl">
              Examples
            </h1>

            <h2 class="govuk-heading-m">Notifications</h2>

            <div class="notification notification-success" tabindex="0">
              <h2>Success</h2>
              <p class="govuk-body">Your password has been reset</p>
              <span class="icon">x</span>
            </div>

            <div class="notification notification-error" tabindex="0">
              <h2>Error saving your account</h2>
              <p class="govuk-body">The passwords you entered did not match</p>
              <span class="icon">x</span>
            </div>

            <h2 class="govuk-heading-m">Tooltips</h2>

            <p class="toggle-help">
              This is another tooltip
            </p>

          </div>
        </div>



{% endblock %}
