{% extends "layout.html" %}

{% block content %}
<div class="grid-row">
  <div class="col-12">

    <div class="govuk-box-highlight">
      <h1 class="heading-xlarge">
        Registration complete
      </h1>
      <p class="font-medium">
        Your new DfE Sign-in account has been setup, a confirmation email has been sent to <strong class="bold">jane.murphy@stpatricks.co.uk</strong>
      </p>
    </div>

  </div>
</div>

<div class="row">
  <div class="col-8">
    <h1 class="heading-xlarge">
      Access DfE services
    </h1>
    <p class="">These are the services you are approved to use.</p>

  </div>
</div>
{% endblock %}
